<h2>{{title}}</h2>

<ul class="musician-list">
  <li class="heading">
  	<div class="col">Musician</div>
  	<div class="col">Band</div>
  </li>
  {{#each model.musicians as |musician|}}
    <li>
    	<div class="col">
    		<p>{{musician.firstName}} {{musician.lastName}}</p>
    	</div>
    	<div class="col">
    		<p>{{musician.bandName}}</p>
    	</div>
    </li>
  {{/each}}
</ul>